.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    position: relative;
}

.containerL {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5vw;
    margin: .25vw;
    height: 92.5vh;
    width: 35vw;
    background-color: rgb(224, 200, 169);
    background-position: center;
    position: relative;
    border-radius: 1.5vh;
}

.containerR {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5vw;
    margin: .25vw;
    height: 92.5vh;
    width: 35vw;
    background-color: rgb(224, 200, 169);
    background-position: center;
    position: relative;
    border-radius: 1.5vh;
}


.sidebarL{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1.6vw;
    height: 30vh;
    width: 4vw;
    top: -5vw;
    background-color: rgb(224, 200, 169);
    background-position: bottom;
    position: relative;
    border-radius: 1.5vh;
    margin-top: 50vh;
    }
    
.whitebarL{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 1.2vw;
    background-color: #9E9683;
    background-position: bottom;
    position: relative;
    border-radius: 1.5vh;
}
        
.sidebarR{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1.6vw;
    height: 30vh;
    width: 4vw;
    top: -5vw;
    background-color: rgb(224, 200, 169);
    background-position: bottom;
    position: relative;
    border-radius: 1.5vh;
    margin-top: 50vh;
}

.whitebarR{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 1.2vw;
    background-color: #9E9683;
    background-position: bottom;
    position: relative;
    border-radius: 1.5vh;
}

.turn90{
    rotate: 90deg;
}

.Girl{
    position: fixed;  
    bottom: -4vw; 
    left: -1vw;
    width: 70vh; 
    height: auto;
  }
  
@media screen and (max-width:500px) {
    .Girl{
        height: 0;
        width: 0;
    }
    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-position: center;
        position: relative;
    }
    
    .containerL {
        color: transparent;
        height: 0;
        width: 0;
    }
    
    .containerR {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .3vw;
        height: 60vh;
        width: 80vw;
        background-color: rgb(224, 200, 169);
        background-position: center;
        position: fixed;
        border-radius: 1.5vh;
        left: 10vw;
        top: 20vh;
    }

    .sidebarL{
        height: 0;
        width: 0;
    }
    
    .whitebarL{
        height: 0;
        width: 0;
    }

    .sidebarR{
        position: absolute;
        top: -25vh;
        left: 82.5vw;
        height: 25vh;
        width: 7.5vw;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    
    .whitebarR{
        position: relative;
        height: 20vh;
        width: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .turn90{
        height: 0;
        width: 0;
    }
}

/* For surface pro 7  */
@media screen and (max-width:913px) and (min-width:431px){
    .containerL{
        visibility: hidden;
    }
    .Girl{
        visibility: hidden;
    }
    .sidebarL{
        visibility: hidden;
    }
    .containerR{
        height: 80vh;
        width: 120vw;
        left: -20vw;
    }
    
}