.filespagebgleft {
    background-color: #9E9683;
    margin: 6vw;
    rotate: -6deg;
    height: 80vh;
    width: 50vw; 
    position: relative;
}

.filespageleft1{
    background-color: #B4AA96;
    rotate: 3deg;
    height: 80vh;
    width: 50vw;
    position: relative;
}

.filespageleft2{
    background-color: #CBC0A9;
    rotate: 3deg;
    height: 80vh;
    width: 50vw;
    position: relative;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.invi {
    color: transparent; 
}

.handprint {
    overflow: hidden;
    position: absolute;
    top: -5vw;
    right: -5vw;
    width: auto;
    height: 15vw; 
    opacity: 0.25; 
}

.handcuffs {
    overflow: hidden;
    display: flex;
    position: absolute;
    bottom: -5vw;
    right: -5vw;
    width: 15vw; 
    height: auto;
}

.target {
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    width: 7.5vw;
    right: 1.5vw;
    height: auto; 
    opacity: 0.4; 
}

.SpyGunLogo{
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    width: 7.5vw;
    left: 1.5vw;
    height: auto; 
    opacity: 2; 
}