.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5vw;
    margin: -.25vw;
    height: 60vh;
    width: 90vw;
    background-color: rgb(224, 200, 169);
    background-position: center;
    position: relative;
    border-radius: 1.5vh;
}

.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2.5vw;
    height: 20vh;
    width: 6vw;
    top: -20vw;
    left: 2vw;
    background-color: rgb(224, 200, 169);
    background-position: bottom;
    position: relative;
    border-radius: 1.5vh;
    margin-top: 50vh;
}

.whitebar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 3.5vw;
    background-color: #9E9683;
    background-position: bottom;
    position: relative;
    border-radius: 1.5vh;
}

.turn90{
    rotate: 90deg;
}