.filespagebgL{
    background-color: #9E9683;
    margin: -6.5vw;
    rotate: 6deg;
    height: 80vh;
    width: 26vw;
    position: relative;
}

.filespageL1{
    background-color: #B4AA96;
    rotate: -3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
    bottom: 0.75vw;
    right: -1vw;
}

.filespageL2{
    background-color: #CBC0A9;
    rotate: -3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
    bottom: 0.75vw;
    right: -1vw;
}

.filespagebgR {
    background-color: #9E9683;
    margin: 6vw;
    rotate: -6deg;
    height: 80vh;
    width: 26vw; 
    position: relative;
}

.filespageR1{
    background-color: #B4AA96;
    rotate: 3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
    top: -0.75vw;
    right: -1vw;
}

.filespageR2{
    background-color: #CBC0A9;
    rotate: 3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
    top: -0.75vw;
    right: -1vw;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.invi {
    color: transparent; 
}

.target {
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    width: 7.5vw;
    right: 1.5vw;
    height: auto; 
    opacity: 0.4; 
}

.SpyGunLogo{
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
    width: 7.5vw;
    left: 1.5vw;
    height: auto; 
    opacity: 2; 
}