/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/Sponsors/pages-upscaled.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
} */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: antiquewhite; */
    background-position: center;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.5vh;
    width: 70vw;
    background-color: rgb(224, 200, 169);
    background-position: center;
    position: relative;
    border-radius: 1.5vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    position: relative;
}

.column {
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    width: 40%;
    height: 40%;
    position: relative;
}

.filespagebgright {
    background-color: #9E9683;
    margin: 2.5vw;
    rotate: -6deg;
    height: 80vh;
    width: 26vw; 
    position: relative;
}

.filespageright1{
    background-color: #B4AA96;
    rotate: 3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
}

.filespageright2{
    background-color: #CBC0A9;
    rotate: 3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
}

.filespagebgleft{
    background-color: #9E9683;
    margin: 2.5vw;
    rotate: 6deg;
    height: 80vh;
    width: 26vw;
    position: relative;
}

.filespageleft1{
    background-color: #B4AA96;
    rotate: -3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
}

.filespageleft2{
    background-color: #CBC0A9;
    rotate: -3deg;
    height: 80vh;
    width: 26vw;
    position: relative;
}

.Polaroid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 26vw;
    background-color: #CBC0A9;  
}

.Inside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);    
}

.InsidePolaroid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 18vw;
    background-color: rgb(0, 0, 0);    
}

.slit {
    background-color: #ffffff;
    margin: 0.5vw;
    /* rotate: 6deg; */
    height: 92.5vh;
    width: 50vw;
    position: relative;
    border-radius: 1vh;
}

.sideleft{
    background-color: #ffffff;
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    margin-left: 2.5vw;
    height: 20vh;
    width: 2vh;
    border-radius: 1vh;
    position: relative;
}

.sideright{
    background-color: #ffffff;
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    margin-left: 1vw;
    height: 20vh;
    width: 2vh;
    border-radius: 1vh;
    position: relative;
}

.sides1{
    background-color: transparent;
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    margin: 1vw;
    height: 20vh;
    width: 6vh;
    position: relative;
}

.invi {
    color: transparent; 
}